@import 'vars';
@import 'global';
@import 'fonts';

// START OF HEADER STYLES
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__circle {
  display: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;

  &-active{
    display: block;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }

  span {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
}

.notification {
  span {
    background-color: $yellow;
  }
}

.message {
  span {
    background-color: $tomato;
  }
}

.basket {
  span {
    background-color: $green;
  }
}

.header__box{
  display: flex;
  align-items: center;
}

.user__box, .basket__box{
  position: relative;
  height: 90px;
  margin-top: 42px;
  &:hover{
    .user__drop-down, .basket__drop-down{
      height: auto;
      border-width: 1px;
      overflow: auto;
    }
    .user__drop-down{
      padding: 20px 20px 12px;
    }
  }
}

.user__drop-down, .basket__drop-down{
  border:0px solid #ccc;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 20px;
  width: 158px;
  transition: all .5s;
  height: 0;
  overflow: hidden;
 
  a{
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 10px;
  }
}

.basket__box{
  margin-top: 55px;
  margin-left: 15px;

  .basket__drop-down{
    top: 62px;
    right: 0;
    width: 270px;
    padding: 0;
    position: absolute;
    

    &-item{
      display: flex;
      background-color: white;
      border-bottom: 1px solid #e0e0e0;
      padding: 0 20px;
      align-items: center;
    }
    
    &-images{
    min-width: 74px;
    min-height: 57px;
    background-size: cover;
    background-position: center;
    }

    &-info{
      padding: 20px 20px 20px 18px;
      min-height: 57px;

      div, a{
        padding: 0;
        margin: 0;
        line-height: 19px;
      }

      &-name a{
        font-size: 15px;
        @include f500;
      }
      &-theme a{
        font-size: 12px;
        color:$green;
      }
      &-price{
        font-size: 16px;
        @include f500;
      }

    }

    &-summ{
      padding: 16px 39px 16px 29px;
      display: flex;
      justify-content: space-between;
      span{
        font-size: 16px;
        @include f700;
      }
    }

    &-btn-cart, &-btn-checkout{
      color: white;
      font-size: 14px;
      @include f700;
      padding: 12px 0px;
      background-color: $green;
      margin: 0 6px 12px 15px;
      padding: 13px 20px;
    }

    &-btn-checkout{
      background-color: $red;
      margin: 0 15px 12px 0px;
      padding: 13px;
    }
  }
}

.user {
  margin-left: 20px;
  margin-right: 25px;
  padding-right: 20px;
  position: relative;
  display: none;

  &-active{
    display: block;
  }

  &::before{
    content: '\f107';
    font-family: 'icomoon' !important;
    position: absolute;
    font-size: 16px;
    columns: #707070;
    top: 0px;
    right: 0px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }


  &__images {
    margin-right: 15px;
    height: 34px;
    width: 34px;
    overflow: hidden;
    border-radius: 50%;

  }

  &__info{
    font-size: 14px;
    line-height: 24px;
  }

  &__name {
    @include f500;
    color: #222;
  }

  &__money {
    color: $green;
    @include f700;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  color: white;
  text-align: center;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;

  &--off{
    display: none;
  }
}

.header__btn-register, .header__btn-logout {
  background-color: $red;
  margin-left: 7px;

  &--off{
    display: none;
  }
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  margin: 0 auto 0 0;

  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    font-size: 14px;
    color: white;
  }
}

//END OF HEADER STYLES



//START OF SEARCH SECTION STYLES
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0 70px;

      &-text {
        margin-bottom: 23px;
      }
    }
  }
}

.search__inner {
  padding: 155px 0 100px;
  color: white;
  text-align: center;

  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      border: none;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      font-size: 14px;
      @include f500;
      padding: 0 60px 0 25px;
      letter-spacing: 1px;

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }

    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 50%;
      transform: translateY(-40%);
    }
  }
}

//END OF SEARCH SECTION STYLES



//START OF PRODUCTS SECTION STYLES
.products {
  padding: 110px 0px 110px 0px;
  background-color: $grey;
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 12px 21px;
    border: none;
    background-color: white;
    color: $bg;
    cursor: pointer;

    &+button {
      padding-left: 5px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: white;
      outline: none;
      box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
    }
  }
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f500;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    color: $bg;
    line-height: 24px;
    font-size: 18px;
    display: block;
  }

  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }

  &-price {
    font-size: 20px;
    color: $bg;
    @include f700;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-autor {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
      background-color: #b5b5b5;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    margin: auto 0;
    color: #b0bec5;
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: white;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;

    &.mixitup-control-active {
      background-color: $red;
      color: white;
      outline: none;
      box-shadow: 0px 2px 5px 0px rgba(202, 215, 228, 0.75);
    }
  }
}

//END OF PRODUCTS SECTION STYLES



//START OF PRODUCT-SLIDER STYLE
.product-slider {
  padding: 110px 0px 120px;

  .slick-dots {
    text-align: center;
    margin-top: 50px;

    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;

      &.slick-active {
        button {
          background-color: $green;
          outline: none;
          box-shadow: none;
        }
      }

      button {
        border: none;
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        box-shadow: inset 0 1px 1px 0 #b1b1b1;
      }
    }
  }
}

//END OF PRODUCT-SLIDER STYLE



//START OF ADVANTAGES SECTION STYLES
.advantages {
  background-color: $bg;
  padding: 110px 0;

  .advantages__title {
    color: white;
    margin-bottom: 90px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  .advantages__item {
    max-width: 370px;
    text-align: center;
    padding: 0px 15px;

    &:hover {
      .advantages__item-images {
        background-color: $green;
        fill: white;
      }

      .advantages__item-title {
        color: $green;
      }
    }

    &-images {
      width: 114px;
      height: 114px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 30px;
      fill: black;
      transition: all .5s;

      & svg {
        max-width: 65px;
      }
    }

    &-title {
      margin-bottom: 25px;
      color: white;
      @include f500;
      font-size: 24px;
      transition: all .5s;
    }

    &-text {
      font-size: 15px;
    }
  }
}

//END OF ADVANTAGES SECTION STYLES



//START OF AUTHOR SECTION STYLES
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 650px;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    padding: 0 60px;
  }

  &__title {
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-right: 45px;
    max-width: 260px;

    & span {
      @include f700
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: white;
  }
}

//END OF AUTHOR SECTION STYLES



//START OF TUTORIAL SECTION STYLES
.tutorial {
  padding: 60px 0px 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }
}

.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-title {
    @include f700;
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    padding: 30px 10px;
    color: $bg;
  }
}

//END OF TUTORIAL SECTION STYLES



//START OF FOOTER SECTION STYLES
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;

  &-title {
    color: white;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }

  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }

  &-menu {
    max-width: 220px;
  }
}

.footer__info {
  margin-top: 18px;
  color: white;
  @include f500;
  padding-left: 30px;
  position: relative;

  &::before {
    font-family: 'icomoon';
    content: '\f041';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }

  &-phone::before {
    content: '\f095';
  }
}

.footer__col-list {
  a {
    margin-bottom: 15px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    font-size: 18px;

    &::before {
      font-size: 18px;
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }
  }

  a {
    height: 28px;
    width: 28px;
    background-image: url(../images/icons/social-sprite.png);
  }
}

.link-twitter {
  background-position: -28px 0;
}

.link-youtube {
  background-position: -56px 0;
}

.link-pinterest {
  background-position: -84px 0;
}

.link-linkedin {
  background-position: -112px 0;
}

.footer__form-title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__form {
  position: relative;

  input {
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 1)inset;
    color: white;
    height: 40px;
    font-size: 14px;
    padding: 0 50px 0 13px;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 39px;
    width: 43px;
    cursor: pointer;

    &::before {
      content: '\f124';
      position: absolute;
      font-family: 'icomoon';
      font-size: 20px;
      color: white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.footer__copy {
  border-top: 1px solid #424d53;
}

.footer__copy-text {
  font-size: 15px;
  color: #919699;
  text-align: center;
  padding: 25px 0;
}

//END OF FOOTER SECTION STYLES



//START OF PRODUCT PAGE STYLES
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: white;
  border: 1px solid #dedede;
  padding: 0 32px 32px;
  width: 270px;
  margin-bottom: 30px;
}

.aside__title {
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $bg;
  padding: 22px 0 19px 0;
  @include f700;
}

.category__list {
  padding-top: 10px;

  li {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px 0 10px 20px;

    &::before {
      content: '\f105';
      font-family: 'icomoon';
      color: $green;
      position: absolute;
      left: 0;
    }

    span {
      color: #90a4ae;
      margin-left: 10px;
    }

    a {
      color: $bg;
    }
  }
}

.price-range {
  form {
    padding: 20px 0 25px 0;
  }

  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: white;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
      content: '\f002';
      position: absolute;
      font-family: 'icomoon';
      font-size: 15px;
      top: 43%;
      transform: translateY(-50%);
      left: 58px;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  background-color: $bg;
  height: 5px;
}

.irs--flat .irs-handle {
  background-color: white;
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  border-radius: 50%;
  top: 19px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: $bg;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}

.product-page__aside {
  .product__item-img {
    min-height: 120px;
  }

  .product__item {
    box-shadow: none;
    padding: 10px 0px;

    &-info {
      padding: 0;
      min-height: 0;
    }

    &-content {
      padding: 0;
      min-height: 75px;
      border-bottom: none;
    }

    &-title,
    &-price {
      font-size: 16px;
    }

    &-starnum {
      display: none;
    }

    &-autor {
      .avatar {
        min-width: 30px;
        margin-right: 10px;
      }
    }
  }

  .rate-star {
    margin-right: 0;

  }

  .jq-ry-container {
    padding: 0;
  }
}

.aside__product-item {
  .product__item {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }

  .product__item:first-child {
    margin-top: 26px;
  }

  .product__item:last-of-type {
    border: none;
    padding-bottom: 0;
  }

  .top-sellers__link {
    padding: 16px 10px;
    display: block;
    background-color: $green;
    text-align: center;
    color: white;
    @include f500;
  }
}

.product-page__content {
  width: 100%;
}

.product-page__filter {
  background-color: white;
  border: 1px solid #dedede;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    transition: all .2s;

    &.active {
      color: $green;
    }
  }

  &-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;

    button.icon-sort-amount-desc {
      font-size: 14px;
      color: #455a64;
    }

    button.icon-unsorted {
      font-size: 18px;
      color: #707070;
    }
  }
}

.product-page__content {

  .product__item {
    max-width: 270px;
    background-color: #fff;
    transition: all 0.2s;

    &-img {
      min-height: 180px;
    }

    &-content {
      padding: 10px 20px;
    }

    &-title {
      font-size: 16px;
    }

    &-info {
      min-height: 65px;
      padding: 10px 20px;
    }

    .rate-star {
      margin-right: 5px;
    }

    .jq-ry-container {
      padding: 0;
    }
  }

  .product-page__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.pagination {
  &__list {
    li {
      display: inline-block;

      &+li {
        margin-left: 6px;

      }

      a,
      span {
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        background-color: white;
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $bg;
        font-size: 16px;
        @include f500;

        &.active {
          background-color: $red;
          color: white;
        }
      }
    }
  }
}

.product__item {

  &-text,
  &-price>span,
  &-list {
    display: none;
  }

  &.list {
    max-width: 100%;

    .product__item-list {
      display: block;

      .icon-comment-o,
      .icon-heart-o {
        display: inline-block;
        font-size: 12px;
        color: #b0bec5;
        padding-left: 50px;
        border-left: 1px solid #b0bec5;
        position: relative;

        &::before {
          font-size: 16px;
          color: $green;
          position: absolute;
          left: 20px;
          top: -3px;
        }

        span {
          display: inline-block;
          @include f500;
          color: $bg;
        }
      }

      .icon-comment-o {
        padding-right: 30px;
      }
    }

    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }

    .product__item-img {
      width: 240px;
      float: left;
      height: 180px;
    }

    .product__item-info {
      min-height: auto;
    }

    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .product__item-price {
      font-size: 30px;

      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }

    .product__item-name {
      max-width: 480px;
    }
  }
}

.product-page__content .product__item-content {
  padding-top: 23px;
}

//END OF PRODUCT PAGE STYLES